@import "settings";
@import "foundation";

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.top-bar{
  margin-bottom: 30px;
  h1{
    display: inline-block;
    span{
      color: grey;
    }
  }
}

.main{
  margin: 40px 0;
  @include grid-row;
  position: relative;
  .note-column{
    .note-column-inner{
      min-height: 600px;
      padding: 2px;
      background: darken($body-bg, 3%);
      .note{
        margin-bottom: 10px;
        padding: 10px;
        background: white;
        //@include transition(all .5s);
        h4{
          margin: 0;
          font-size: 16px;
        }
        small{
          display: block;
          margin: 10px 0;
        }
        p{
          font-size: 10px;
        }
        &.lifted{
          background: $secondary-color;
        }
      }
      &.over{
        background: darken($body-bg, 10%);
      }
    }
  }
}