<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="small-12">
        <h1>Account</h1>
        <p>Username: <%= user.username %></p>
        <p>Email: <%= user.email %></p>
        <a href="/auth/evernote" class="button">Connect with Evernote.</a>
      </div>
    </div>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
