<div class="small-12 columns">
  <h1>Homepage</h1>
  <p>blah blah blah</p>
</div>
{{#if user}}

  {{#each notes}}
    <div class="small-4 columns left panel">
      <h3>{{this.title}}</h3>
      <small>{{this.tags}}</small>
      <p>{{this.content}}</p>
    </div>
  {{/each}}

{{/if}}