{{#if message}}
  <p>{{message}}</p>
{{/if}}
<h1>Login</h1>
<form action="/login" method="post">
  <div class="small-12 medium-4 large-4">
    <label class="label">Username:</label>
    <input type="text" name="username"/><br/>
  </div>
  <div class="small-12 medium-4 large-4">
    <label class="label">Password:</label>
    <input type="password" name="password"/>
  </div>
  <div class="small-12 medium-4 large-4">
    <input class="button" type="submit" value="Submit"/>
  </div>
</form>
