<div class="container">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <div class="text-center">
      {{#if message}}
        <p>{{message}}</p>
      {{/if}}
    </div>
    <h3>Login</h3>
    <form role="form" action="/login" method="post">
      <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" id="username" type="text" name="username"  placeholder="Type in username" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" id="password" type="password" name="password" placeholder="Type in password" />
      </div>
      <div class="form-group">
        <input class="btn btn-default" type="submit" value="Submit"/>
      </div>
    </form>
  </div>
</div>

