<div class="row">
  <div class="small-12 columns">
    <div class="small-12 medium-4 large-4 small-centered columns">
      <h3>Sign up</h3>
    </div>
    <form action="/signup" method="post">
      <div class="small-12 medium-4 large-4 small-centered columns">
        <label>User:</label>
        <input type="text" name="username" placeholder="Username" /><br/>
      </div>
      <div class="small-12 medium-4 large-4 small-centered columns">
        <label>Email:</label>
        <input type="email" name="email" placeholder="Email" />
      </div>
      <div class="small-12 medium-4 large-4 small-centered columns">
        <label>Password:</label>
        <input type="password" name="password" placeholder="Password" />
      </div>
      <div class="small-12 medium-4 large-4 small-centered columns">
        <input class="button" type="submit" value="Create account"/>
      </div>
    </form>
  </div>
</div>