@import "../bootstrap/less/bootstrap.less";


/* ==========================================================================
   Mixins
   ========================================================================== */

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
  transition:         @transition;
}

.transform (@transform) {
  -moz-transform:     @transform;
  -o-transform:       @transform;
  -webkit-transform:  @transform;
  transform:          @transform;
}

.box-shadow (@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow:    @shadow;
  -o-box-shadow:      @shadow;
  box-shadow:         @shadow;
}


/* ==========================================================================
   Base
   ========================================================================== */

body{

}



/* ==========================================================================
   Header
   ========================================================================== */


/* ==========================================================================
   Footer
   ========================================================================== */


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {

}

@media (min-width: @screen-lg-min) {

}
