@import "../bootstrap/less/bootstrap.less";


/* ==========================================================================
   Mixins
   ========================================================================== */

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
  transition:         @transition;
}

.transform (@transform) {
  -moz-transform:     @transform;
  -o-transform:       @transform;
  -webkit-transform:  @transform;
  transform:          @transform;
}

.box-shadow (@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow:    @shadow;
  -o-box-shadow:      @shadow;
  box-shadow:         @shadow;
}


/* ==========================================================================
   Base
   ========================================================================== */

body{
  h1, h2, h3, h4, h5, h6{
    margin-bottom: 20px;
  }
}



/* ==========================================================================
   Header
   ========================================================================== */
header{
  .navbar{
    background: @brand-primary;
    .navbar-brand{
      font-family: 'Gloria Hallelujah';
      font-size: 32px;
      line-height: 32px;
      color: @body-bg;
    }
    .navbar-header{
      button{
        color: @body-bg;
        border: 1px solid @body-bg;
        &:hover, &:focus{
          background: @body-bg;
          color: @brand-primary;
        }
        .icon-bar{
          background: @body-bg;
        }
      }
    }
    .navbar-nav{
      a{
        padding-top: 21px;
        padding-bottom: 21px;
        color: @body-bg
      }
    }
  }
}


/* ==========================================================================
   Main
   ========================================================================== */
main{
  overflow: hidden;
  height: 100%;
  display: block;
  .board{
    overflow: hidden;
    position: relative;
    margin: 10px 0 80px 0;
    padding: 0;
    background: darken(@body-bg, 5%);
    .board-column{
      height: 100%;
      .board-column-inner{
        min-height: 800px;
        margin: 10px 0 0 0;
        background: darken(@body-bg, 7%);
        .note{
          display: block;
          overflow: hidden;
          position: relative;
          margin-bottom: 10px;
          padding: 10px;
          font-size: 10px;
          background: @gray-lighter;
          border-left: 2px solid @brand-primary;
          .transition(all 1s);
          .note-actions{
            position: absolute;
            right: 10px;
            i{
              margin-left: 10px;
            }
            .synced{
              color: green;
            }
          }
          &.lifted{
            border: 1px solid @brand-primary;
          }
          &.emphasized{
            background: lighten(@gray-lighter, 5%);
            box-shadow: 0 0 5px rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), .3);
          }
          &.hybernated{
            background: darken(@gray-lighter, 5%);
          }
          .note-title{
            margin: 25px 0 5px 0;
            font-size: 12px;
          }
          .note-tags{
            margin: 10px 0;
            small{
              display: block;
              color: @gray;
            }
          }
          .note-content{
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .account{
    section{
      min-height: 160px;
      margin-bottom: 40px;
      h3{
        margin-top: 0;
      }
      form{
        margin: 10px 0 60px 0;
      }
    }
  }
  .remark{
    position: absolute;
    bottom: 20%;
  }
}


/* ==========================================================================
   Footer
   ========================================================================== */
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  color: @white;
  background: @brand-secondary;
  p{
    display: inline-block;
    margin: 0;
    padding: 20px;
    color: @gray-light;
    span{
      margin-right: 40px;
    }
  }
  a{
    display: inline-block;
    color: @gray-light;
    margin-left: 10px;
    i{
      vertical-align: middle;
    }
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {

}

@media (min-width: @screen-lg-min) {

}
